<div class="row items-center qb animated-bottom" >
    <img src="/images/others/QB24.avif" class="qb-img">
    <p>
        AUDIT PROCESS est l'une des 5 entreprises à posséder la certification <span class="qb24">QB24</span>. En savoir plus
    </p>
</div>

style {
    .qb{
        gap: 24px;
    }
    .qb-img{
        width: 100px;
    }
    .qb24{
        color: #111827;
        font-weight: 700;
    }
}