<div>
    <span class="error">
        404
    </span>
    <span>PAGE INTROUVABLE</span>
</div>
style {
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: 100vw;
        height: 100vh;
        font-size: 30px;
    }
    .error {
        font-size: 50px;
        font-weight: 700;
    }
}
